<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
                <a class="link" href="{{ site.url }}/blog">Blog</a>
                <a class="link" href="{{ site.url }}/projects">Projects</a>
                <a class="link" href="{{ site.url }}/categories">Category</a>
            </li>
        {% endif %}
    </ul>
</nav>
