<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">«</a>
    {% else %}
        <span class="previous hidden">«</span>
    {% endif %}

    <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% for p in paginator.total_pages %}
        {% if p == paginator.page %}
            <li class="page-number active">{{ p }}</li>
            {% elsif p == 1 %}
            <li class="page-number"><a href="{{ site.url }}/">{{ p }}</a></li>
        {% else %}
            <li class="page-number"><a
            href="{{ site.url }}{{ site.paginate_path | replace: ':num', p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}




    {% if paginator.next_page %}
        <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">»</a>
    {% else %}
        <span class="next hidden">»</span>
    {% endif %}
</div>
