<ul id="pagination" role="navigation">
    {% if paginator.previous_page %}
        <li id="page-prev"><a href="{{ site.url }}{{ paginator.previous_page_path }}"><span class="sr-only">Previous Page</span></a></li>
    {% else %}
        <li id-"page-prev" class="disabled"><span class="sr-only">No Previous Page</span></li>
    {% endif %}




    {% for p in (first..last) %}
      {% if p == paginator.page %}
        <li class="page-number active">{{ p }}</li>
        {% elsif p == 1 %}
        <li class="page-number"><a href="{{ site.url }}/">{{ p }}</a></li>
        {% else %}
        <li class="page-number"><a href="{{ site.url }}{{ site.paginate_path | replace: ':num', p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
        <li id="page-next"><a href="{{ site.url }}{{ paginator.next_page_path }}"><span class="sr-only">Next Page</span></a></li>
    {% else %}
        <li id="page-next" class="disabled"><span class="sr-only">No Next Page</span></li>
    {% endif %}
</ul>
