<ul id="pagination" role="navigation">
    {% if paginator.previous_page %}
        <li id="page-prev"><a href="{{ site.url }}{{ paginator.previous_page_path }}"><span class="sr-only">«</span></a></li>
    {% else %}
        <li id-"page-prev" class="disabled"><span class="sr-only">«</span></li>
    {% endif %}

    <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
        <li id="page-next"><a href="{{ site.url }}{{ paginator.next_page_path }}"><span class="sr-only">»</span></a></li>
    {% else %}
        <li id="page-next" class="disabled"><span class="sr-only">»</span></li>
    {% endif %}
</ul>
